@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #DA291C;
}
.deal {
    background-image: url(./assets/percent.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

@media (min-width: 768px) {
    .checkout {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        justify-items: space-around;
        width: 100%;
        height: 100%;
    }
}
/* 
b6579fba3b414aee8bfb7bfb9bd2c35b20240712150626781279

App id = DG9K9DJ3ZWC3JMH

Organisation Id = 2e9285e1bbce4b55afe9b33258add851

b6579fba3b414aee8bfb7bfb9bd2c35b20240712150626781279
b6579fba3b414aee8bfb7bfb9bd2c35b20240712150626781279 */